body {
    margin: 0;
    background-color: rgba(245, 245, 245, 0.9);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: #000;
}

header a:hover {
    color: #f00;
    text-decoration: wavy;
}

#nav {
    display: flex;
}

#nav li {
    display: inline;
    padding: 5px;
}

#hero {
    background-image: url('../img/hero.png');
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#hero h1 {
    font-size: 50px;
}

.card img {
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

footer {
    background-color: rgb(64, 64, 64);
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


    
  
main {
    display: grid;
    grid: 150px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    margin: 20px;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
}

.card p {
    padding: 0 20px 20px 20px;
}

.card h2 {
    padding: 0 20px 20px 20px;
}

@media (max-width: 800px) { /* se la finestra ha una larghezza minore di 800px, fai lo sfondo giallo */
    body { 
        background: yellow;
    }
}

@media (max-width: 400px) { /* se la finestra ha una larghezza minore di 400px, fai lo sfondo verde. Questa istruzione sovrascrive la precedente, se la cancello lo sfondo sarà sempre giallo */
    body {
        background: chartreuse;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }
}